.header-transparent-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(29, 29, 31, 0.86);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-family: 'Roboto', sans-serif;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  height: 50px;
  margin-right: 2px;
}

.header-logo span {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.header-nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-nav ul li {
  margin: 0 15px;
  position: relative;
}

.header-nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}

.header-nav ul li a:hover {
  color: #4CAF50;
}

.header-nav ul li a.header-active {
  color: #4CAF50;
  font-weight: bold;
}

.header-auth-buttons {
  display: flex;
  align-items: center;
}

.header-auth-buttons button {
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-auth-buttons button:not(.header-profile-btn) {
  padding: 8px 16px;
}

.header-login-btn {
  background-color: #4CAF50;
  color: white;
}

.header-login-btn:hover {
  background-color: #45a049;
}

.header-signup-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.header-signup-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-post-recipe-btn {
  background-color: #4CAF50;
  color: white;
}

.header-post-recipe-btn:hover {
  background-color: #45a049;
}

.header-profile-btn {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header-profile-btn:hover {
  background-color: transparent;
}

.header-profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.header-profile-initial {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
}

.header-logout-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.header-logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}